.Portfolio {
  max-width: var(--containerSize);
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 180px);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}
.Portfolio--ContentSection {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  flex: 2;
}
.Portfolio--BoxSection {
  padding-left: 64px;
  display: flex;
  flex: 2;
}
.Portfolio--BoxBox {
  flex-direction: column;
  align-items: flex-end;
  justify-items: auto;
  display: flex;
  margin: 8px;
}
.Portfolio--BoxBox2 {
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  display: flex;
  margin: 8px;
}
.Portfolio--FirstBox {
  background-color: var(--lightBox);
  width: 236px;
  height: 236px;
  margin-bottom: 8px;
}
.Portfolio--SecondBox {
  background-color: var(--lightBox);
  width: 115px;
  height: 115px;
}
.Portfolio--ThirdBox {
  background-color: var(--lightBox);
  width: 301px;
  height: 301px;
  margin-top: -65px;
  margin-bottom: 8px;
}
.Portfolio--FourthBox {
  background-color: var(--greyBox);
  width: 199px;
  height: 199px;
}
@media (max-width: 1024px) {
  .Portfolio {
    flex-direction: column;
    max-height: fit-content;
    height: auto;
  }
  .Portfolio--BoxSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .Portfolio--ContentSection {
    width: 100%;
    max-width: fit-content;
    padding: 0;
    margin: 0;
  }
  .Portfolio--ThirdBox {
    margin-top: 0px;
  }
}
